
@import "scss/variables.scss";


.widget {
  height: 50px;
  margin: 2px 1px;
  padding: 0 5px;
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.widget-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-right {
  margin-right: 15px;
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
}

.widget-icon-loading {
  background-image: url('../../../assets/loadingIcon.svg')
}