
@import "scss/variables.scss";


.widget {
  height: 50px;
  margin: 2px 1px;
  padding: 0 5px;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}