
@import "variables.scss";

:root {
  --primary-bg: #{$primary-bg};
  --primary-color: #{$primary-color};
  --primary-border: #{$primary-border};
}

.container-fluid {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  background-image: url('../assets/background.svg');
  display: flex;
  flex-direction: column;
  background-size: 40px;
}

.container{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
}

.themed-container {
  background-color: var(--primary-bg);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@import "node_modules/bootstrap/scss/bootstrap";

// Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";


// @import "node_modules/bootstrap/scss/utilities/text";
// @import "node_modules/bootstrap/scss/utilities/flex";
// @import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/reboot";