
$primary-bg: #212529;
$primary-color: #dddddd;
$primary-border: #dddddd;
$primary-bg-image: url('../assets/background.svg');

$emo: #e60099;
$emo-dark: #212529;
$body-bg: $emo-dark;

$ms: 'ms';

$theme-colors: (
  "emo": $emo,
  "emo-dark": $emo-dark,
  "emo-trans": transparent
);

$font-family-app: 'Work sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$btn-border-width: 2px;